.root{
    -fx-background-color: #C5EFF7;
    -fx-font-size: 12px;
    -fx-font: Montserrat;
}
.jfx-drawer{
    -fx-background-color: #e8e8e8;
}

.hamburger{
    -fx-border-color: #8e8e8e;
}

.text-field-search {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.jfx-tab-pane .headers-region
{
    -fx-background-color: #C5EFF7;
}

.jfx-tab-pane .tab-header-background
{
    -fx-background-color: #C5EFF7;
}

.jfx-tab-pane .tab-header-area .jfx-rippler
{
    -jfx-rippler-fill: #e8e8e8;
}

.jfx-radio-button .dot {
    -fx-mark-highlight-color: #C5EFF7 ;
    -fx-mark-color: #C5EFF7;
}

