.root{
    -fx-background-color: #3498db;
    -fx-font-size: 12px;
    -fx-font: Montserrat;
}
.jfx-drawer{
    -fx-background-color: #e8e8e8;
}

.hamburger{
    -fx-border-color: #8e8e8e;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}